<div class="header">
  <button class="toggle-button" (click)="toggleSidebar()">☰</button>
  <img src="assets/images/auth/vmvb-removebg-preview.png" alt="image" class="header-image" />
  
  <div class="user-info">
    <icon-gear (click)="toggleMenu()"></icon-gear> 
    <div class="menu" *ngIf="menuOpen">
      <ul>
        <li *ngIf="!isCurrentPath('/dashboard/main_page'); else SignInTemplate" (click)="logout()">Logout</li>
        <ng-template #SignInTemplate>
          <li (click)="logout()">Return to Sign In</li>
        </ng-template>
      </ul>
    </div>
  </div>
</div>