.header {
  background-color: #a6e781;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-left: 0; /* Remove padding on the left side */
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it stays on top */
  height: 64px !important; /* Set the height to match the image height */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow to the bottom */
}

.header-image {
  height: 100% !important; /* Ensure the image height fits within the header */
  min-height: 64px !important; /* Set a maximum height to match the header height */
  width: auto; /* Maintain aspect ratio */
}

.user-info {
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 1rem;
}
.icon-gear svg {
  transition: transform 0.3s ease, fill 0.3s ease; /* Smooth transition for transform and fill */
}

.icon-gear svg:hover {
  transform: rotate(20deg) scale(1.1); /* Rotate and scale on hover */
  fill: #58c519; /* Change fill color on hover */
}

.menu {
  position: absolute;
  right: 0;
  margin-top: 7rem; /* Increase margin-top to move the menu further down */
  width: 14rem; /* Slightly increase the width */
  background: linear-gradient(135deg, #ffffff, #f0f0f0); /* Add a subtle gradient */
  color: black;
  border-radius: 0.5rem; /* Increase border radius for a more rounded look */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.235);
  animation: fadeIn 0.3s ease-in-out;
  padding: 1rem; /* Add padding inside the menu */
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 0.75rem 1rem; /* Increase padding for better spacing */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Add color transition */
}

.menu li:hover {
  background-color: #e0e0e0; /* Change hover background color */
  color: #333; /* Change hover text color */
}

.toggle-button {
  background-color: #a6e781;
  color: #000000;
  border: none;
  height: 64px; /* Set height to 100% to match the header */
  width: 64px;
  margin-left:15px;
  cursor: pointer;
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s, transform 0.3s;
  font-size: 2rem; /* Adjust font size for better consistency */
  font-weight: bold; /* Make the font bold */
  margin-right: 10px; /* Add some margin to the right */
}

.toggle-button:hover {
  background-color: #58c519;
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}