table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

thead tr {
  background-color: #48CAE4;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

th, td {
  padding: 12px 15px;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #48CAE4;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

a {
  color: #48CAE4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #48CAE4;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #ef476f;
}

textarea, input[type="number"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

textarea:focus, input[type="number"]:focus {
  border-color: #48CAE4;
}

form button {
  width: auto;
  margin-top: 10px;
}

.stars {
  display: inline-block;
}

.filled-star {
  color: #ffdd00;
}

.empty-star {
  color: #cccccc;
}

.half-star {
  position: relative;
  display: inline-block;
  color: #cccccc;
}

.half-star::before {
  content: '\2605';
  color: #ffdd00;
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
}

.three-quarter-star {
  position: relative;
  display: inline-block;
  color: #cccccc;
}

.three-quarter-star::before {
  content: '\2605';
  color: #ffdd00;
  position: absolute;
  left: 0;
  width: 75%;
  overflow: hidden;
}

.one-quarter-star {
  position: relative;
  display: inline-block;
  color: #cccccc;
}

.one-quarter-star::before {
  content: '\2605';
  color: #ffdd00;
  position: absolute;
  left: 0;
  width: 25%;
  overflow: hidden;
}
.stars span {
  cursor: pointer;
}

.stars .filled-star {
  color: #ffdd00;
}

.stars .empty-star {
  color: #cccccc;
}

.stars .half-star {
  position: relative;
  display: inline-block;
  color: #cccccc;
}

.stars .half-star::before {
  content: '\2605';
  color: #ffdd00;
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
}

.stars .three-quarter-star {
  position: relative;
  display: inline-block;
  color: #cccccc;
}

.stars .three-quarter-star::before {
  content: '\2605';
  color: #ffdd00;
  position: absolute;
  left: 0;
  width: 75%;
  overflow: hidden;
}

.stars .one-quarter-star {
  position: relative;
  display: inline-block;
  color: #cccccc;
}

.stars .one-quarter-star::before {
  content: '\2605';
  color: #ffdd00;
  position: absolute;
  left: 0;
  width: 25%;
  overflow: hidden;
}