<div [class.sidebar-collapsed]="isSidebarCollapsed" class="layout flex flex-col min-h-screen">
  <!--  BEGIN TOP NAVBAR  -->
  <app-header (toggleSidebarEvent)="toggleSidebar()"></app-header>
  <!--  END TOP NAVBAR  -->

  <div class="main-container flex flex-col flex-grow w-full">
    <!--  BEGIN SIDEBAR  -->
    <app-sidebar [isCollapsed]="isSidebarCollapsed" [user]="my_user" (toggle)="toggleSidebar()"></app-sidebar>
    <!--  END SIDEBAR  -->

    <div class="main-content flex flex-col flex-grow pt-16">
      <!--  BEGIN CONTENT AREA  -->
      <div class="animation p-5 print:p-0">
        <div class="panel mb-3 flex items-center overflow-x-auto whitespace-nowrap p-5 text-primary print:hidden">
          <!-- <app-breadcrumbs></app-breadcrumbs> -->
        </div>
        <router-outlet></router-outlet>
      </div>
      <!--  END CONTENT AREA  -->

      <!-- BEGIN FOOTER -->
      <app-footer></app-footer>
      <!-- END FOOTER -->
    </div>
  </div>
</div>