<form class="row g-3">
  <div class="col-md-6">
    <label for="username" class="form-label">Username</label>
    <div class="position-relative">
      <icon-user></icon-user>
      <input [(ngModel)]="username" type="text" id="username" placeholder="Enter Username" name="username" class="form-control border-1 border-dark rounded-pill">
    </div>
  </div>
  
  <div class="col-md-6">
    <label for="password" class="form-label">Password</label>
    <div class="position-relative">
      <icon-lock-dots></icon-lock-dots>
      <input [(ngModel)]="password" type="password" id="password" placeholder="Enter Password" name="password" class="form-control border-1 border-dark rounded-pill">
    </div>
  </div>

  <div class="col-md-6">
    <label for="first_name" class="form-label">First Name</label>
    <input [(ngModel)]="first_name" type="text" id="first_name" placeholder="Enter First Name" name="first_name" class="form-control border-1 border-dark rounded-pill">
  </div>

  <div class="col-md-6">
    <label for="last_name" class="form-label">Last Name</label>
    <input [(ngModel)]="last_name" type="text" id="last_name" placeholder="Enter Last Name" name="last_name" class="form-control border-1 border-dark rounded-pill">
  </div>

  <div class="col-md-6">
    <label for="gender" class="form-label">Gender</label>
    <select [(ngModel)]="gender" id="gender" name="gender" class="form-control border-1 border-dark rounded-pill">
      <option value="">Select Gender</option>
      <option value="M">Male</option>
      <option value="F">Female</option>
    </select>
  </div>

  <div class="col-md-6">
    <label for="address" class="form-label">Address</label>
    <input [(ngModel)]="address" type="text" id="address" placeholder="Enter Address" name="address" class="form-control border-1 border-dark rounded-pill">
  </div>

  <div class="col-md-6">
    <label for="phone_number" class="form-label">Phone Number</label>
    <input [(ngModel)]="phone_number" type="text" id="phone_number" placeholder="Enter Phone Number" name="phone_number" class="form-control border-1 border-dark rounded-pill">
  </div>

  <div class="col-md-6">
    <label for="email" class="form-label">Email</label>
    <input [(ngModel)]="email" type="email" id="email" placeholder="Enter Email" name="email" class="form-control border-1 border-dark rounded-pill">
  </div>

  <div class="col-12">
    <label for="profile_pic" class="form-label">Profile Picture</label>
    <input type="file" id="profile_pic" (change)="onFileSelected($event)" accept="image/jpeg, image/png" class="form-control border-1 border-dark rounded-pill">
    <label *ngIf="profilePicPreview">Profile Picture Preview:</label>
    <img *ngIf="profilePicPreview" [src]="profilePicPreview" alt="Profile Picture Preview" class="mt-2 img-thumbnail" style="max-width: 100px; max-height: 100px;">
  </div>

  <div class="col-12">
    <label for="creditCardNumber" class="form-label">Credit Card Number</label>
    <input type="text" id="creditCardNumber" name="creditCardNumber" [(ngModel)]="credit_card_number" (input)="validateCard($event)" class="form-control border-1 border-dark rounded-pill">
    <img id="cardIcon" src="/assets/images/card/credit-card.png" alt="" class="mt-2" style="width: 50px; height: 30px;">
  </div>
  
  <div class="col-12 text-center">
    <button class="modern-button rounded-pill" (click)="register()">Register</button>
  </div>
</form>