<div class="sidebar" [class.collapsed]="isCollapsed">
  <div class="sidebar-header">
    <div class="image-placeholder"></div> <!-- Placeholder div -->
  </div>
  <ul class="sidebar-menu">
    <li class="sidebar-item">
      <a href="#" class="sidebar-link">Home</a>
    </li>
    <li class="sidebar-item">
      <a href="#" class="sidebar-link">About</a>
    </li>
    <li class="sidebar-item">
      <a href="#" class="sidebar-link">Services</a>
    </li>
    <li class="sidebar-item">
      <a href="#" class="sidebar-link">Contact</a>
    </li>
  </ul>
</div>