<div class="d-flex flex-column flex-md-row vh-100 vw-100 position-relative">
  <!-- Left side with big text -->
  <div class="col-12 col-md-7 d-flex justify-content-start align-items-center p-4 p-md-5 shadow custom-bg-gradient-left">
    <div class="text-white">
      <h1 class="display-4 font-weight-bold text-white mb-3 custom-text-shadow custom-font-roboto">Vasa Masta-Vasa Basta</h1>
      <h2 class="h2 font-weight-light text-dark custom-text-shadow custom-font-roboto">- Elevate Your Outdoors -</h2>
      <p class="mt-3 text-light custom-text-shadow custom-font-roboto">
        Welcome to your ultimate garden companion! Our app helps you schedule and manage all your garden tasks effortlessly.
      </p>
      <p class="mt-3 text-light custom-text-shadow custom-font-roboto">
        From watering schedules to plant care reminders, we ensure your garden thrives all year round.
      </p>
    </div>
  </div>

  <!-- Right side for the form -->
  <div class="col-12 col-md-5 d-flex justify-content-center align-items-start p-4 p-md-5 shadow overflow-auto" style="background: linear-gradient(45deg, #ffffff, #d3d3d3); height: 100vh;">
    <div class="w-100 max-w-500 p-4 rounded">
      <h1 class="text-center text-black mb-4">Register a new account</h1>

      <div class="d-flex justify-content-center align-items-center mb-3">
        <p class="m-0 pb-3 text-center text-muted">{{message}}</p>
        <ng-container *ngIf="(message !== 'Enter your credentials to continue') && (message !== 'Looks Good')">
            <icon-warning-hex></icon-warning-hex>
        </ng-container>
      </div>

      <form class="row g-3">
        <div class="col-md-6">
          <label for="username" class="form-label">Username</label>
          <div class="position-relative">
            <icon-user></icon-user>
            <input [(ngModel)]="username" type="text" id="username" placeholder="Enter Username" name="username" class="form-control border-1 border-dark rounded-pill">
          </div>
        </div>
          
        <div class="col-md-6">
          <label for="password" class="form-label">Password</label>
          <div class="position-relative">
            <icon-lock-dots></icon-lock-dots>
            <input [(ngModel)]="password" type="password" id="password" placeholder="Enter Password" name="password" class="form-control border-1 border-dark rounded-pill">
          </div>
        </div>

        <div class="col-md-6">
          <label for="first_name" class="form-label">First Name</label>
          <input [(ngModel)]="first_name" type="text" id="first_name" placeholder="Enter First Name" name="first_name" class="form-control border-1 border-dark rounded-pill">
        </div>

        <div class="col-md-6">
          <label for="last_name" class="form-label">Last Name</label>
          <input [(ngModel)]="last_name" type="text" id="last_name" placeholder="Enter Last Name" name="last_name" class="form-control border-1 border-dark rounded-pill">
        </div>

        <div class="col-md-6">
          <label for="gender" class="form-label">Gender</label>
          <select [(ngModel)]="gender" id="gender" name="gender" class="form-control border-1 border-dark rounded-pill">
            <option value="">Select Gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
          </select>
        </div>

        <div class="col-md-6">
          <label for="address" class="form-label">Address</label>
          <input [(ngModel)]="address" type="text" id="address" placeholder="Enter Address" name="address" class="form-control border-1 border-dark rounded-pill">
        </div>

        <div class="col-md-6">
          <label for="phone_number" class="form-label">Phone Number</label>
          <input [(ngModel)]="phone_number" type="text" id="phone_number" placeholder="Enter Phone Number" name="phone_number" class="form-control border-1 border-dark rounded-pill">
        </div>

        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <input [(ngModel)]="email" type="email" id="email" placeholder="Enter Email" name="email" class="form-control border-1 border-dark rounded-pill">
        </div>

        <div class="col-12">
          <label for="profile_pic" class="form-label">Profile Picture</label>
          <input type="file" id="profile_pic" (change)="onFileSelected($event)" accept="image/jpeg, image/png" class="form-control border-1 border-dark rounded-pill">
          <label *ngIf="profilePicPreview">Profile Picture Preview:</label>
          <img *ngIf="profilePicPreview" [src]="profilePicPreview" alt="Profile Picture Preview" class="mt-2 img-thumbnail" style="max-width: 100px; max-height: 100px;">
        </div>

        <div class="col-12">
          <label for="creditCardNumber" class="form-label">Credit Card Number</label>
          <input type="text" id="creditCardNumber" name="creditCardNumber" [(ngModel)]="credit_card_number" (input)="validateCard($event)" class="form-control border-1 border-dark rounded-pill">
          <img id="cardIcon" src="/assets/images/card/credit-card.png" alt="" class="mt-2" style="width: 50px; height: 30px;">
        </div>

        <div class="col-12">
          <label for="type" class="form-label">Type</label>
          <select [(ngModel)]="type" id="type" name="type" class="form-control border-1 border-dark rounded-pill">
            <option value="">Select Type</option> 
            <option value="owner">Owner</option>
            <option value="decor">Decorator</option>
          </select>
        </div>
        
        <div class="col-12 text-center">
          <button class="modern-button rounded-pill" (click)="register()">Register</button>
        </div>
      </form>

      <div class="text-center mt-4">
        <h1 class="h6 text-dark">Already have an Account?</h1>
        <a routerLink="" class="btn btn-link text-decoration-none">Login</a>
      </div>
    </div>
  </div>
</div>